.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  background: #ffdfa7;
  border: 5px solid #ca9650;
  text-align: center;
  padding: 5px 10px;
  width: 115px;
}

.fighter-preview___info h4 {
  margin: 0 0 10px;
  color: white;
  text-shadow: 1px 1px 6px black;
  font-size: 20px;
  font-family: 'Arial Black';
  font-weight: 700;
}

